/**
 * @description: 全局公共样式
*/

@use "./mixin.scss";

/* 自定义字体 */
@font-face {
  font-family: "Alimama";
  src: local("Alimama"),
  url(../font/AlimamaFangYuanTiVF-Thin.ttf) format("truetype"); /* 可以根据需要添加更多的字体格式，如 woff、woff2 */
}

/* iconfont字体大小 */
.iconfont {
  font-size: 22px !important;
}

.page-main {
  /* 减去自身的padding-top与padding-bottom */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: mixin.$body-padding;
  border-radius: mixin.$border-radius;
  background-color: #fff;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 10px;
}
