/**
 *  注释：flex
 * */
@mixin flexRow($justify: space-between, $align: center, $flex-wrap: wrap) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $flex-wrap;
}

@mixin flexCol($justify: space-between, $align: center, $flex-wrap: wrap) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $flex-wrap;
}

/**
 *  注释：color
 * */
$theme-color: #a97642;
$theme-deep-color: #894811;
$theme-light-color: #f2e4c6;
$border: #dedfe0;

/**
 *  注释：固定值变量
 * */
$page-header-height: 50px;
$aside-menu-width: 260px;
$border-radius: 6px;
