/**
 *  注释：flex
 * */
@mixin flexRow($justify: space-between, $align: center, $flex-wrap: wrap) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $flex-wrap;
}

@mixin flexCol($justify: space-between, $align: center, $flex-wrap: wrap) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $flex-wrap;
}

/**
 *  注释：color
 * */
$theme-color: #a97642;
$theme-deep-color: #894811;
$theme-light-color: #f2e4c6;
$border: #dedfe0;

/**
 *  注释：固定值变量
 * */
$page-header-height: 50px;
$aside-menu-width: 260px;
$border-radius: 6px;


/*
   项目中使用的样式常量
*/

$primaryColor: #6b96cd;
$secondaryColor: #d1d6ec;


/* 莫兰迪色系 */
$mld_blue_one: #6C8AC0;
$mld_blue_two: #91ACDB;
$mld_blue_three: #A5CFE8;
$mld_blue_four: #C3DFED;
$mld_blue_five: #E2F0F9;

$mld_orange_one: #F0C9A2;
$mld_orange_two: #F5DABC;
$mld_orange_three: #F0DFCD;
$mld_orange_four: #ECE2D8;
$mld_orange_five: #F2F1ED;

/* 法式冷调高级配色 */
$french_Cool_blue: #21558c;
$french_Cool_gray: #a3a5a4;
$french_Cool_light_gray: #efefef;

$deep_green: #217367;
$middle_green: #53a57e;
$light_green: #82ba77;
$text_black: #333333; // 文本黑色
$text_gray: #626262; // 文本黑色
$music_green: #00f268; // 音乐播放器主题绿色
$music_green_select: #00cc65; // 音乐播放器主题绿色

$xihuan_red: #ff6a6a; // 喜欢
