/**
 * @Description: 重置element-plus组件的样式
*/

/**
 *  注释：el-dialog
 * */
.el-dialog {
  padding: 0 !important;

  .el-dialog__header {
    border-bottom: 1px solid $border;
    margin: 0;
    padding: 15px;

    .dialog-title {
      font-weight: 600;
      font-size: 18px;
      color: #262626;
    }

    .el-dialog__headerbtn {
      width: 50px;
      height: 50px;

      .el-dialog__close {
        font-size: 20px;
      }
    }
  }

  .el-dialog__body {
    padding: 20px;
  }

  .el-dialog__footer {
    padding: 15px 20px;
  }
}

/**
 *  note: el-drawer
 * */
.el-drawer__header {
  border-bottom: 1px solid $border;
  margin: 0 !important;
  padding: 15px !important;
}
